
<section class="fila" >


    <div class="contenedor1" >

      <div class="col-full-12 col-12 col-tab-big-12 col-tablet-12 col-tab-small-12 col-smarth-12" >

        <h1>App Games </h1>

      </div>

    </div>

    <nav class="contenedor1"  >

      <ul  class="col-full-12  col-12 col-tab-big-12 col-tablet-12 col-tab-small-12 col-smarth-12 nav-container-box">

        <li> <a href=""> Inicio </a>  </li>
        <li> <a routerLink="/search"> Buscar </a>  </li>

      </ul>

    </nav>

</section>

