<app-navbar></app-navbar>


  <section>

    <div>


        <div>


              <label for="">Juego: </label>
              <input  type="text" #game  >

              <button (click)="gameSearch(game.value, game)" > Buscar </button>







        </div>


    </div>

  </section>






  <section class="fila card" >

  <div class="contenedor1" >

    <!-- Basic card game --->
    <div  class="col-full-3 card-box-main"   *ngFor="let game of listGames"  >


      <!-- Principal container box card  -->
      <div class="card-box-main" (click)="selectElement( element, cardtext )"    #element  >

        <!-- Img and name container -->
          <div  class=" card-container-box"  >
            <div class="card-img" >
              <img [src]="game.background_image" alt="img">
            </div>

          </div>

          <!-- data container game   -->
          <div  class="card-container-box-text ocultar" #cardtext >

            <h2>Ranking: {{  game.metacritic }}</h2>

            <h2 >{{  game.name }}</h2>

            <h3  >{{ game.released }}</h3>


          </div>


      </div>


    </div>
    <!-- Basic card game --->


  </div>

</section>







<app-footer></app-footer>

